# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/

# IDE settings
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker
*.container
*.local
*.dockerignore
docker-compose.override.yml

# Miscellaneous
*.bak
*.swp
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/